body{
  text-align: center;
  background-color: #6f4a8e;
}

div {
    /*box-sizing: border-box;
    width: 100%;
    border: 100px solid black;*/
    position: relative;
    left: 430px;
    width:600px;
    height: 500px;
    align-content: center;
    align-items: center;
}

h1{
  color: white;
}
form {
    margin: 0 auto;
    width: 600px;

  }


.white1{
  background-color: white;
}

.lower1{
  padding-top: 10px;
}
